/****************************************** 
	
		Desenvolvido por Gabriel da Luz 
		
		http://gabrieldaluz.com.br/
	
*******************************************/

/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

/* All */
* { margin:0px; padding:0px;  }
*:focus { outline:0; }
a, a:hover {  color:initial; text-decoration:none; }

/* Tags */
body { position:relative; font-family: 'Rubik', sans-serif; font-weight: 400; font-style: normal; line-height: 150%; letter-spacing: normal; }
span { line-height: 120%; }


/* Variables */
.hidden { display:none; }
.no-select, img {  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;  }

.pd-t-0 { padding-top:0px; }
.pd-t-30 { padding-top:30px; }
.pd-t-60 { padding-top:60px; }
.pd-t-100 { padding-top:100px; } 

.pd-b-30 { padding-bottom:30px; }
.pd-b-40 { padding-bottom:40px; }
.pd-b-50 { padding-bottom:50px; }

.pd-l-0 { padding-left:0px; }
.pd-l-3 { padding-left:3px; }
.pd-l-6 { padding-left:6px; }

.pd-r-0 { padding-right:0px; }
.pd-r-3 { padding-right:3px; }
.pd-r-6 { padding-right:6px; }

.mg-t-25  { margin-top: 25px; }
.mg-t-46  { margin-top: 46px; }

.mg-l-0 { margin-left: 0px; }
.mg-l-40 { margin-left: 40px;  }

.mg-r-40 { margin-right: 40px;  }

.align-middle { display: flex; align-items: center; }
.clear { clear:both; }

/* Effects Hover */
.fx-ease-out-250 { -webkit-transition: all 250ms ease-out; -moz-transition: all 250ms ease-out; -o-transition: all 250ms ease-out; transition: all 250ms ease-out; }
.fx-ease-out-500 { -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
.fx-translatex-3:hover { transform: translateX(3px); }
.fx-scale-0-9:hover { transform: scale(0.9);  }

/* Backgrounds Images e Patterns */
.pattern1 { background: url('../img/backgrounds/pattern1.png'); background-size:cover; background-position: center; }

/* Colors and Backgrounds */
.bg-gray-1 { background:#F8F8F8; }

/* Buttons */
.btnStyle1 { display:table; background:#005AA2; color:white; border-radius:7px; text-align:center; font-weight: 500; padding:10px; width:100%; font-size:22px;  -webkit-transition: all 250ms ease-out; -moz-transition: all 250ms ease-out; -o-transition: all 250ms ease-out; transition: all 250ms ease-out; }
.btnStyle1:hover {  background:#2fc8e0 !important; color:white; }



/* Effects */

.come-in {   transform: translateY(150px);   animation: come-in 0.8s ease forwards; }

.come-in:nth-child(odd) {   animation-duration: 0.6s; /* So they look staggered */ }

@keyframes come-in {   to { transform: translateY(0); } }


/* ~~~~~~~~~~~~~**~~~~~ Inicio ~~~~~**~~~~~~~~~~~~~ */


/* menu-mobile*/
.menu-mobile { text-align:right;      position: relative; top: -1px;}
.menu-mobile i {     color: white; border: 1px solid white; padding: 7px 15px; border-radius: 10px; }
.menu-mobile span {      line-height: 120%; font-size: 13px; font-family: 'Rubik', sans-serif; font-weight: 300; position: relative; top: -2px; color: white; margin-left: 4px; }

/* Header */
header { position:fixed; top:0px; left:0px; width:100%; z-index:10; box-shadow: 0px 1px 8px black; }

header .topo { background-image: url(../img/background/bg-header1x.png); opacity: 0.96; padding:10px; background-size: cover; }

header .topo .logo {  }
header .topo .logo img { height: 102px; }

header .topo nav.menu { display: table; margin: 0 auto; margin-top: 38px;}

header .topo nav.menu > ul { list-style:none; margin-bottom: 0px; }
header .topo nav.menu > ul > li { position:relative; display:inline-block; margin-right:50px;  }
header .topo nav.menu > ul > li:last-child { margin-right:0px; }
header .topo nav.menu > ul > li > a:after { content: ' '; display: block; position: absolute; bottom: -6px; left: 0px; width: 100%; background: #5ca5e4; height: 2px; border-radius: 30px; opacity: 0.0;  -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
header .topo nav.menu > ul > li.active > a:after {    content: ' '; display: block; position: absolute; bottom: -6px; left: 0px; width: 100%; background: #ffffff; height: 2px; border-radius: 30px; opacity: 0.8; }
header .topo nav.menu > ul > li:hover > a:after { content: ' '; display: block; position: absolute; bottom: -6px; left: 0px; width: 100%; background: #ffffff; height: 2px; border-radius: 30px; opacity: 0.8;  }
header .topo nav.menu > ul > li > a { color:white; font-size:20px; }

/* header.msaFixActive .topo .logo img {     height: 75px; }
header.msaFixActive .topo {  padding: 5px; }
header.msaFixActive .topo nav.menu {    margin-top: 22px; }
header.msaFixActive .topo nav.menu > ul > li.active > a:after { bottom: -4px; }
*/


/* Section .slider */
section.slider { border-bottom:17px solid #222222;}

section.slider .owl-carousel { position:relative; }

section.slider .owl-carousel .owl-dots { position:absolute; bottom:2%; width:100%; margin-top: 0px !important; }
section.slider .owl-carousel .owl-dots .owl-dot span { background:#32373c; box-shadow: 0px 0px 2px black; }
section.slider .owl-carousel .owl-dots .owl-dot.active span { background:white; }
section.slider .owl-carousel .owl-nav { position:absolute; top:50%; width:100%; }
section.slider .owl-carousel .owl-prev { overflow:hidden; position:absolute;  left:10%; border-radius: 100%;   -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
section.slider .owl-carousel .owl-next { overflow:hidden; position:absolute;  right:10%; border-radius: 100%;  -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out;  }

section.slider .owl-carousel .owl-item { position:relative; }

section.slider .owl-carousel .owl-item .over { position: absolute; z-index: 2; top: 0px; left: 0px; width: 100%; height: 100%; background: url('https://i.imgur.com/omEc7gg.png'); background-size: 202px; opacity: 0.0; }

section.slider .owl-carousel .owl-item img { height:800px; object-fit: cover; background-position: center;}

section.slider .owl-carousel .owl-item div.superLabel {   padding-top:50px;  position: absolute; z-index: 3; top: 0px; left: 0px; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
section.slider .owl-carousel .owl-item div.superLabel span.titulo { display:table; color:white; font-size:45px; text-shadow:1px 1px 1px black; font-weight: bold; margin-left:5px; padding:10px 25px; background:rgba(0,0,0,0.5); margin-bottom:20px; border-radius:12px;}
section.slider .owl-carousel .owl-item div.superLabel span.subtitulo { display:table; color:white; font-size:45px; text-shadow:1px 1px 1px black; font-weight: bold;  margin-left:5px; padding:10px 25px; background:rgba(0,0,0,0.5); border-radius:12px; }




/* Section SecHeader */
section div.secHeader { margin-bottom:40px; }
section div.secHeader .sectitle { text-align:center; font-size:32px; margin-bottom:15px; font-weight: 500; }
section div.secHeader .sectitle span.bar { display:inline-table; width:103px; height: 2px; background:#005DA5; }
section div.secHeader .secSubTitle { text-align:center; color:#858585; width:80%; max-width:700px; margin: 0 auto; font-size:17px; }

section div.secContent { line-height: 160%; font-size: 17px; font-weight: 400; margin: 0 auto; width: 90%; margin-top:20px; }
section div.secContent p { margin-bottom:40px; }




/* Section .quemSomos */
section.quemSomos { padding-top:60px; padding-bottom:60px;  border-bottom:5px solid #222222; }




/* Section .nossaMissao */
section.nossaMissao { padding-top:60px; padding-bottom:60px;  }




/* Section .cursos */
section.cursos { padding-top:60px; padding-bottom:60px;  border-bottom:5px solid #222222;  background:#222222; color:white; }

section.cursos .cursosCarousel {  }
section.cursos .cursosCarousel .boxCurso {     padding: 15px; border-radius: 7px; background: transparent; -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
section.cursos .cursosCarousel .boxCurso:hover {    background: #212e3a;  }
section.cursos .cursosCarousel .boxCurso:hover .imagem img { transform:scale(1.1); }
section.cursos .cursosCarousel .boxCurso:hover a.btnStyle1 { background:#046ec3; }
section.cursos .cursosCarousel .boxCurso .imagem { overflow:hidden; border:1px solid #5d5d5d;}
section.cursos .cursosCarousel .boxCurso .imagem img { width:100%; height:235px; object-fit: cover;  -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
section.cursos .cursosCarousel .boxCurso .titulo { text-align: center; font-size: 21px; padding: 6px 10px; padding-bottom:0px; font-weight: 500;  }
section.cursos .cursosCarousel .boxCurso .horas { text-align: center;     font-size: 16px; font-weight: 400; }
section.cursos .cursosCarousel .boxCurso .valor {     text-align: center; font-size: 28px; font-weight: 500; padding: 6px 0px;}
section.cursos .cursosCarousel .boxCurso a.btnStyle1 { margin-top:6px; }




/* Section .nossaEquipe */
section.nossaEquipe { padding-top:60px; padding-bottom:30px;  }

section.nossaEquipe .equipeContainer {     margin-top: 60px;      margin-bottom: 20px; }
section.nossaEquipe .equipeContainer .row { display: table; text-align:center; }
section.nossaEquipe .equipeContainer .row .col-lg-4 {     display: inline-block; }

section.nossaEquipe .membro { width:85%; margin:0 auto; max-width:250px;     margin-bottom: 30px; }
section.nossaEquipe .membro .imagem {  }
section.nossaEquipe .membro .imagem img {     width: 100%; height: 250px; object-fit: cover; border-radius: 100%; background: #dadada; padding: 1px; }
section.nossaEquipe .membro .nome {  text-align:center; margin-top:15px; font-weight: 500; font-size:20px; }
section.nossaEquipe .membro .cargo {  text-align:center; font-size:14px; color:#0082CE;  }
section.nossaEquipe .membro .social { text-align:center; margin-top:5px; }
section.nossaEquipe .membro .social a { margin-right:12px; }
section.nossaEquipe .membro .social a:last-child { margin-right:0px; }
section.nossaEquipe .membro .social a.instagram i { font-size: 27px; position: relative; top: 1px; }
section.nossaEquipe .membro .social a.twitter i {     font-size: 27px; position: relative; top: 0px;}
section.nossaEquipe .membro .social a i {     font-size: 23px; color:black; }



/* Section .contato */
section.contato {  padding-bottom:60px;  }

section.contato .topbar { background:#222222; margin-bottom:60px; }

section.contato .topbar .col-lg-4 { text-align:center; }

section.contato .topbar i { background: #414141; padding: 30px 0px; width:65px; height: 100%; text-align:center; color: white; margin-right:20px; font-size:25px; }

section.contato .topbar .labelContainer {  display: inline-table; position: relative; transform: translateY(-35%); text-align:left; }
section.contato .topbar .labelContainer  span { display:block; line-height: 120%; }
section.contato .topbar .labelContainer  span.titulo {  font-weight:400; color: white; font-size:15px; font-weight: 500; margin-bottom:5px; }
section.contato .topbar .labelContainer  span.subtitulo { color: white; color:#D5D5D5; font-size:14px; font-weight: 300; }

section.contato form { width:90%; max-width:780px; margin: 0 auto; margin-top:60px; margin-bottom:20px; }
section.contato form .row .col-lg-6:nth-child(1) { padding-right:7px; }
section.contato form .row .col-lg-6:nth-child(2) { padding-left:7px; }

section.contato form .lineInput {  margin-bottom:15px; }
section.contato form .lineInput input {  color:black; width:100%; background:#F7F7F7; border-radius:7px; padding:10px 10px; padding-left:15px; border:0px solid transparent; font-size:15px; font-weight: 300; -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
section.contato form .lineInput input::placeholder { color:#737373; }
section.contato form .lineInput input:focus { background:#dedede; }

section.contato form .lineTextarea {  }
section.contato form .lineTextarea textarea { color:black; width:100%; background:#F7F7F7; border-radius:7px; padding:10px 10px; padding-left:15px; border:0px solid transparent; font-size:15px; font-weight: 300; min-height: 162px; -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out;}
section.contato form .lineTextarea textarea:focus { background:#dedede; }

section.contato form .lineSubmit { text-align:center; margin-top:5px; }
section.contato form .lineSubmit input { background: #222222; border:0px solid transparent; color:white; font-size:15px; font-weight: 300; padding:6px 16px; border-radius:7px; -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
section.contato form .lineSubmit input:hover { background: #036ab3; cursor:pointer; }



/* Footer */
footer { background: #222222; padding-top:35px; padding-bottom:20px; border-top:10px solid #005998; } 

footer .logo { text-align:center;  }
footer .logo img { width:105px; }

footer .socialIcons { text-align:center; margin-top:25px;}
footer .socialIcons a { margin-right:30px; }
footer .socialIcons a:last-child { margin-right:0px; }
footer .socialIcons a i { background:#757272;  width: 40px; height: 40px; line-height: 40px; text-align: center;  border-radius:100%; vertical-align: middle; -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
footer .socialIcons a:hover i { background:#cccccc; }
footer .socialIcons a.instagram i { font-size: 22px; }
footer .socialIcons a.twitter i { font-size: 20px; }

footer .copyright { text-align:center; margin-top:25px; color:white; }
footer .copyright a { color:#ababab; -webkit-transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -o-transition: all 500ms ease-out; transition: all 500ms ease-out; }
footer .copyright a:hover { color:#21f3f3; }